body {
    background-color: #8992a1;
}

#card {
    border-radius: 1.2em;
    background: #535456;
    width: 53em;
    height: 30em;
    box-shadow: 0 0 1.6em #404040;


    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    -webkit-animation: fadein 1.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 1.5s;
    /* Internet Explorer */
    -o-animation: fadein 1.5s;
    /* Opera < 12.1 */
    animation: fadein 1.5s;
}

#card #name {
    font-family: monospace;
    font-size: 3em;
    color: #ffffff;
    float: left;

    margin-top: 4.6em;
    margin-left: 3em;

    letter-spacing: 0.05em;
}

#card #avatar {
    float: right;

    margin-right: 4em;
    margin-top: 6em;

    width: 250px;
    height: auto;

    border-radius: 50%;
}

#card #icons {
    float: left;

    display: flex;
    justify-content: space-between;

    margin-left: 12em;
    margin-top: -1.2em;
}

#card #icons .icon {
    width: 3.75em;
    height: 3.75em;

    margin-right: 2em;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#card #icons .icon:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

#card #icons a {
    outline: none;
}



@media (min-width: 400px) and (max-width: 767px) {
    #card {
        width: 40em;
        height: 50em;
    }

    #card #name {
        font-size: 4.5em;
        float: none;

        text-align: center;

        position: relative;
        bottom: -160px;
        margin-left: auto;

        letter-spacing: 0.075em;
    }

    #card #avatar {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -350px;

        width: 300px;
    }

    #card #icons {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 8em;
    }

    #card #icons .icon {
        width: 7em;
        height: auto;

        margin-right: 4em;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}